<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/%22%3E
<head>
    <title> Create Event </title>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="C:\Users\90539\Documents\GitHub\Student-Club-Manager-Group2A\src\main\resources\static\css\navbar.css">
    <title>Create Event Page</title>
    <style>
        h1 {text-align: center;}
        #eventForm {
			background-color: purple;
            width: 50%;
            margin: auto;

        }
            .box span.label {
            display: inline-block;
            margin-bottom: 20px;
            vertical-align: top;
            width: 80px;
        }
		Body {
            font-family: Calibri, Helvetica, sans-serif;
            background-color: white;
            margin: auto;
        }
		
    </style>
</head>
<body style="font-family: Arial">
<div th:replace="navbar/show :: navbar" ></div>
    <h1> CREATE YOUR EVENT </h1>
    <form id="eventForm" action="AddItems" method="post">
            <div class="box">
                <span class="label"> Event Name</span>
                <span class="ib"> <input type="text" name="event_name" id="event_name"/></span>
            </div>
            <div class="box">
                <span class="label">Place </span>
                <span class="ib"> <input type="text" name="place" id="place"/>
                </span>
            </div>
            <div class="box">
                <span class="label">Club  </span>
                <span class="ib"><input type="text" name="club" id="club"/></span>
            </div>
            <div class="box">
                <span class="label">Event Date</span>
                <span class="ib">  <input type="date" name="item_size" id="item_size"/></span>
                <span class="ib">  <input type="date" name="item_size" id="item_size"/></span>
            </div>
            <div class="box">
                <span class="label">Application Period </span>
                <span class="ib"><input type="date" name="item_supplier" id="item_supplier"/></span>
                <span class="ib"><input type="date" name="item_supplier" id="item_supplier"/></span>
            </div>
            <div class="box">
                <span class="label">Description </span>
                <span class="ib">  <textarea id="S" name="s" rows="10" cols="75"></textarea></span>
            </div>
            <div class="box">
                <span class="label">Upload a custom event thumbnail/header image
                only one picture is allowed.</span>
                <span class="ib">
                <input type="submit" value="Upload thumbnail">
                <span class="label">Preview:</span>
            </div>
            <div class="box">
                <span class="label">Upload images for event slider. Older
                pictures will be deleted.</span>
                <span class="ib">
                <input type="submit" value="Upload slider">
                <span class="label">Preview:</span>
            </div>
            <input type="submit" value="Create Event">
        </form>

		<button onclick="myFunction()">Try it</button>
		<p id="demo"></p>
		
		<script>
			function myFunction() {
			  var x = document.getElementById("eventForm").elements[0].value;
			  document.getElementById("demo").innerHTML = x;
			}
		</script>
</body>
</html>