<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Events Page</title>
  <link th:href="@{/css/eventsList.css}" rel="stylesheet" />
</head>
<body>
  <div th:replace="navbar/show :: navbar" ></div>

  <div id="pastEvents">
    <tr th:each="event: ${pastEvents}">
      <a th:href="@{/events/{id}(id=${event.id})}" th:text="${event.name}">bruh</a>
    </tr>
  </div>
  <div id="upcomingEvents">
    <tr th:each="event: ${upcomingEvents}">
      <a th:href="@{/events/{id}(id=${event.id})}" th:text="${event.name}">bruh</a>
    </tr>
  </div>


  <div class="filters">
    <input type="text" id="searchForEventInput" onkeyup="search()" placeholder="Search for an event..." >
    <button id="pastEventsBtn" onclick="openPastEvents()">Past Events</button>
      <button id="upcomingEventsBtn" onclick="openUpcomingEvents()">Upcoming Events</button>

    <div class="dropdown">
      <button onclick="dropdown()" class="dropbtn">Choose a filter</button>
      <div id="myDropdown" class="dropdown-content">
        <ul>
        <li class="dropdown">
        <button style="background-color: darkred" onclick="dropdown1()" class="dropbtn">Tags</button>
        <div id="myDropdown1" class="dropdown-content">
          <a href="#home">Science</a>
          <a href="#about">Engineering</a>
          <a href="#contact">Astronomy</a>
        </div>
        </li>

        <li class="dropdown">
        <button style="background-color: darkred" onclick="dropdown2()" class="dropbtn">Clubs</button>
        <div id="myDropdown2" class="dropdown-content">
          <a href="#home">OR</a>
          <a href="#about">YES</a>
          <a href="#contact">ADT</a>
        </div>
        </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="middle">
    <div id="events">
      <table>
        <tr>
          <td>
            <p class="clubName">Club Name</p>
            <img>
            <p class="eventName">X Event</p>
            <div class="eventInfo"><p class="eventInfoElement">tomorrow</p><p class="eventInfoElement">Location</p><p class="eventInfoElement">Price</p></div>
          </td>
          <td>
            <p class="clubName">Club Name</p>
            <img>
            <p class="eventName">X Event</p>
            <div class="eventInfo"><p class="eventInfoElement">tomorrow</p><p class="eventInfoElement">Location</p><p class="eventInfoElement">Price</p></div>
          </td>
          <td>
            <p class="clubName">Club Name</p>
            <img>
            <p class="eventName">X Event</p>
            <div class="eventInfo"><p class="eventInfoElement">tomorrow</p><p class="eventInfoElement">Location</p><p class="eventInfoElement">Price</p></div>
          </td>
          <td>
            <p class="clubName">Club Name</p>
            <img>
            <p class="eventName">X Event</p>
            <div class="eventInfo"><p class="eventInfoElement">tomorrow</p><p class="eventInfoElement">Location</p><p class="eventInfoElement">Price</p></div>
          </td>
        </tr>
        <tr>
          <td>
            <p class="clubName">Club Name</p>
            <img>
            <p class="eventName">X Event</p>
            <div class="eventInfo"><p class="eventInfoElement">tomorrow</p><p class="eventInfoElement">Location</p><p class="eventInfoElement">Price</p></div>
          </td>
          <td>
            <p class="clubName">Club Name</p>
            <img>
            <p class="eventName">X Event</p>
            <div class="eventInfo"><p class="eventInfoElement">tomorrow</p><p class="eventInfoElement">Location</p><p class="eventInfoElement">Price</p></div>
          </td>
          <td>
            <p class="clubName">Club Name</p>
            <img>
            <p class="eventName">X Event</p>
            <div class="eventInfo"><p class="eventInfoElement">tomorrow</p><p class="eventInfoElement">Location</p><p class="eventInfoElement">Price</p></div>
          </td>
          <td>
            <p class="clubName">Club Name</p>
            <img>
            <p class="eventName">X Event</p>
            <div class="eventInfo"><p class="eventInfoElement">tomorrow</p><p class="eventInfoElement">Location</p><p class="eventInfoElement">Price</p></div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <script type="text/javascript" th:src="@{/js/eventsList.js}"></script>

</body>

</html>

