<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<style>
    Body {
        font-family: Calibri, Helvetica, sans-serif;
        background-color: white;
        margin: auto;
    }
</style>

    <div th:fragment="navbar">
        <link th:href="@{/css/navbar.css}" rel="stylesheet" />

        <section class="navigation">
            <div class="nav-container">
                <div class="brand">
                    <a href="#!">Sigma</a>
                </div>
                <nav>
                    <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                    <ul class="nav-list">
                        <li>
                            <a href="/clubs">Clubs</a>
                        </li>
                        <li>
                            <a href="/events">Events</a>
                        </li>
                        <li>
                            <a href="/schedule">Schedule</a>
                        </li>
                        <li>
                            <a href="/users/user-profile">Profile</a>
                        </li>
                        <li>
                            <a id="signout" href="/logout">Sign Out</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>
</html>