<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/%22%3E">

<link rel="stylesheet" href="../../static/css/navbar.css">

<section class="navigation" th:fragment="navbar">
    <div class="nav-container">
        <div class="brand">
            <a href="#!">Sigma</a>
        </div>
        <nav>
            <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
                <li>
                    <a href="#!">Clubs</a>
                </li>
                <li>
                    <a href="#!">Events</a>
                </li>
                <li>
                    <a href="#!">Schedule</a>
                </li>
                <li>
                    <a href="#!">Profile</a>
                </li>
                <li>
                    <a id="signout" href="#!">Sign Out</a>
                </li>
            </ul>
        </nav>
    </div>
</section>