<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<form method="post" action="/club-roles/adduser">

    <div class="container">

        <center><h2>Add active member</h2></center>
        <label>Club name</label>
        <input type="text" id="clubname" placeholder="clubname" name="clubname" required>
        <label>Username</label>
        <input type="text" id="usermail" placeholder="usermail" name="usermail" required>
        <button type="submit">Add active member</button>
    </div>
</form>
</body>
</html>