<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <form method="post" action="/create">
        <div class="container">
            <center><h2>Create club</h2></center>
            <label>Email</label>
            <input type="text" id="name" placeholder="name" name="name" required>
            <label>Username</label>
            <input type="text" id="description" placeholder="description" name="description" required>
            <button type="submit">Create club</button>
        </div>
    </form>
</head>
<body>

</body>
</html>