<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Club Profile Page</title>
    <link th:href="@{/css/clubProfilePageCSS.css}" rel="stylesheet" />
</head>

<body>
<div class="coverphoto"><img id="coverid" src="" alt="cover photo"/></div>

<div class="profilephoto"><img id="profileid" src="" alt="profile photo"/></div>


<!-- <button class="followbutton" type="submit" >follow</button> -->
<form method="POST" th:action="@{/clubs/{id}/applications(id=${club.id})}">
    <button class="requestactivemembershipbutton" type="submit" name="submit" value="value" >request active membership</button>
</form>
<a href="/events/create" class="createeventbutton">create event</a>



<div class ="clubname" th:text="${club.name}"></div>

<div id="description" th:text="${club.description}"></div>


<p class = "activemembernum" th:text="${#lists.size(activeMembers)} + ' Active Members' "></p>


<div th:replace="navbar/show :: navbar" ></div>


<div id="upcomingevents">
    <p class="eventstitle">Upcoming events:</p>
    <ul class="eventslist">
        <li class="event1" th:if="${!upcomingEvents.isEmpty()}">
            <a href=""><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" alt="event photo"  style="width: 232px; height: 154px; object-fit: cover;" /></a>
            <a class="eventname" href="" th:text="${upcomingEvents.get(0).name}"></a>
            <p class="eventdate" th:text="${upcomingEvents.get(0).location}"></p>
        </li>
        <li class="event2" th:if="${upcomingEvents.size() >= 2}">
            <a href=""><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" alt="event photo"  style="width: 232px; height: 154px; object-fit: cover;" /></a>
            <a class="eventname" href="" th:text="${upcomingEvents.get(1).name}"></a>
            <p class="eventdate" th:text="${upcomingEvents.get(1).location}"></p>
        </li>
        <li class="event3" th:if="${upcomingEvents.size() >= 3}">
            <a href=""><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" alt="event photo"  style="width: 232px; height: 154px; object-fit: cover;" /></a>
            <a class="eventname" href="" th:text="${upcomingEvents.get(2).name}"></a>
            <p class="eventdate" th:text="${upcomingEvents.get(2).location}"></p>
            <a class="more" href="">more</a>
        </li>
    </ul>
</div>
<div id="pastevents">
    <p class="eventstitle">Past events:</p>
    <ul class="eventslist">
        <li class="event1" th:if="${upcomingEvents.size() >= 1}">
            <a href=""><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" alt="event photo"  style="width: 232px; height: 154px; object-fit: cover;" /></a>
            <a class="eventname" href="" th:text="${pastEvents.get(0).name}"></a>
            <p class="eventdate" th:text="${pastEvents.get(0).location}"></p>
        </li>
        <li class="event2" th:if="${upcomingEvents.size() >= 2}">
            <a href=""><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" alt="event photo"  style="width: 232px; height: 154px; object-fit: cover;" /></a>
            <a class="eventname" href="" th:text="${pastEvents.get(1).name}"></a>
            <p class="eventdate" th:text="${pastEvents.get(1).location}"></p>
        </li>
        <li class="event3" th:if="${upcomingEvents.size() >= 3}">
            <a href=""><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" alt="event photo"  style="width: 232px; height: 154px; object-fit: cover;" /></a>
            <a class="eventname" href="" th:text="${pastEvents.get(2).name}"></a>
            <p class="eventdate" th:text="${pastEvents.get(2).location}"></p>
            <a class="more" href="">more</a>
        </li>
    </ul>
</div>


<p class="activememberlisttitle">Active Members:</p>
<div class="maincontainer">
    <tr id="activemembers" th:each="user : ${activeMembers}">
            <a class="username" th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getUsername()}"></a>
    </tr>
</div>


<p class="requestlisttitle">Active Membership Requests:</p>
<div class="secondcontainer" th:each="user : ${activeMembershipRequests}">
    <ul id="requests">
        <li>
            <a class="username" th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getUsername()}"></a>
            <button class= "acceptbutton" type="submit">🗸</button>
            <button class= "rejectbutton" type="submit">✖</button>
        </li>
    </ul>
</div>

<button class= "editButton" type="submit">edit</button>

</body>
</html>