<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Profile Page</title>
    <link th:href="@{/css/userProfilePage.css}" rel="stylesheet" />
    <style>
        Body {
            font-family: Calibri, Helvetica, sans-serif;
            background-color: white;
            color: #8C8C8C;
            margin: auto;
        }
    </style>
</head>
<body>

<div th:replace="navbar/show :: navbar" ></div>

<div id="gradient"></div>

<div class="top">
    <img id="profilephoto" src="" alt="profile photo"/>
    <p th:text="${user.username}"></p>
</div>


<div class="middle">
    <ul class="info">
        <li th:text="'Department: ' + ${user.department}"></li>
        <li th:text="'Date of Birth: ' + ${user.dateOfBirth}"></li>
        <li th:text="'Start of studies: ' + ${user.startOfStudies}"></li>
        <li th:text="'Participated in ' + ${#lists.size(attendedevents)} + ' events'"></li>
        <li th:text="'About me: ' + ${user.description}"></li>
    </ul>
    <ul class="social">
        <li th:text="'email: ' + ${user.email}"></li>
        <li> instagram: <a th:href="${'https://www.instagram.com/' + user.instagramUsername}" th:text="${user.instagramUsername}"></a> </li>
        <li th:text="'linkedin: ' + ${user.linkedinUsername}"></li>
    </ul>
</div>

<div class="bottom">
    <div id="buttons"><button id="eventsButton" onclick="openEvents()">Events</button>
        <button id="membershipsButton" onclick="openMemberships()">Active Memberships</button></div>
    <div id="lineWhite"></div>
    <div id="lineGray"></div>
    <div id="events">

        <table>
            <tr>
                <td th:each="attendedevent: ${attendedevents}" th:value="${attendedevent.getId()}" th:text="${attendedevent.getName()}">

                </td>
            </tr>
        </table>
    </div>

    <div id="memberships">
        <table>
            <tr>
                <td>
                    <img>
                    <p class="clubName">X Club</p>
                </td>
                <td>
                    <img>
                    <p class="clubName">X Club</p>
                </td>
                <td>
                    <img>
                    <p class="clubName">X Club</p>
                </td>
                <td>
                    <img>
                    <p class="clubName">X Club</p>
                </td>
            </tr>
        </table>
    </div>
</div>

<script src="../../static/js/userProfilePage.js"></script>

<button>
    <div class="pencil">
        <div class="triangle"></div>
        <div class="rec1"></div>
        <div class="rec2"></div>
        <div class="rec3"></div>
    </div>
</button>

</body>

</html>