/* buttons -------------------------------------------------------*/
.createeventbutton{
    position: absolute;
    width: 125px;
    height: 44px;
    margin-left: 920px;
    top: 297px;

    background: #975B5E;
    border-radius: 15px;
    border: none;
    cursor: pointer;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-left: 4px;
    text-decoration: none;
}

.createeventbutton:hover {
    opacity: 0.7;
}

.requestactivemembershipbutton{
    position: absolute;
    /*width: 119px;*/
    height: 44px;
    margin-left: 191px;
    top: 297px;

    background: #656CB0;
    border-radius: 15px;
    border: none;
    cursor: pointer;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

button {
    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;

    color: #FFFFFF;
}

button:hover {
    opacity: 0.7;
}

/* -------------------------------------------------------*/
.coverphoto{
    position: absolute;
    width: 100%;
    height: 199px;
    margin-left: 0;
}

#coverid{
    width: 1519px;
    height: 210px;
    object-fit: cover;
}

.profilephoto{
    position: absolute;
    width: 135px;
    height: 135px;
    object-fit: cover;
    margin-left: 24px;
}

#profileid{
    width: 135px;
    height: 135px;
    object-fit: cover;
}

.clubname{
    position: absolute;
    width: 270px;
    height: 72px;
    margin-left: 500px;
    top: 289px;

    font-family: Noto Serif Kannada, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #5A5A5A;
}

.activemembernum{
    position: absolute;
    width: 199px;
    height: 72px;
    margin-left: 1129px;
    top: 270px;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #5A5A5A;
}

#description {
    position: absolute;
    width:422px;
    height: 72px;
    margin-left: 193px;
    top: 338px;
    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;

    color: #5A5A5A;
}

/* Events -------------------------------------------------------*/
.eventslist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#upcomingevents {
    position: absolute;
    width:800px;
    height: 470px;
    margin-left: 122px;
    top: 410px;
}
#pastevents {
    position: absolute;
    width:800px;
    height: 470px;
    margin-left: 122px;
    top: 734px;
}
.eventstitle{
    position: relative;
    width: 199px;
    height: 72px;
    margin-left: 0;
    top: 0;

    font-family: Rowdies, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #5A5A5A;
}
.event1{
    position: absolute;
    width:234px;
    height: 156px;
    margin-left: 0;
    top: 90px;
}

.event2{
    position: absolute;
    width:234px;
    height: 156px;
    margin-left: 280px;
    top: 90px;
}

.event3{
    position: absolute;
    width:234px;
    height: 156px;
    margin-left: 560px;
    top: 90px;
}

.eventname {
    position: absolute;
    width: 182px;
    height: 14px;
    margin-left: 0;
    top: 179px;

    cursor: pointer;
    text-decoration: none;
    font-family: PoetsenOne, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3C6D79;
}

.eventname:hover{
    color: #80959A;
}

.eventdate{
    position: absolute;
    width: 112px;
    height: 40px;
    margin-left: 0;
    top: 176px;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3C6D79;
}

.more{
    position: absolute;
    width: 127px;
    height: 51px;
    margin-left: 188px;
    top: 184px;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    /*text-decoration-line: underline;*/

    color: #0563C1;
}
/* active member & request boxes ----------------------- */
.maincontainer{
    position: absolute;
    width: 341px;
    height: 235px;
    margin-left: 1062px;
    top: 434px;
    border-left: 1px solid #A0A0A0;
    border-right: 1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;

    background: #F0F0F0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.maincontainer::-webkit-scrollbar {
    width: 4px;
}

.maincontainer::-webkit-scrollbar-track {
    opacity: 1;
}

.maincontainer::-webkit-scrollbar-thumb {
    background: rgba(191, 187, 187, 0.7);
    border-radius: 40px;
}

.maincontainer::-webkit-scrollbar-thumb:hover {
    background: rgba(138, 138, 138, 0.7);
}

#activemembers a{
    text-decoration: none;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;

    color: #5A5A5A;
}

#activemembers {
    padding-left: 20px;
}

.activememberlisttitle{
    padding-top: 15px;
    padding-left: 20px;
    position: absolute;
    width: 321px;
    height: 72px;
    margin-left: 1062px;
    top: 358px;
    border-left: 1px solid #A0A0A0;
    border-right: 1px solid #A0A0A0;
    border-top: 1px solid #A0A0A0;
    border-radius: 15px;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    align-items: center;

    color: #5A5A5A;
}

.secondcontainer{
    position: absolute;
    width: 341px;
    height: 235px;
    margin-left: 1062px;
    top: 772px;
    border-left: 1px solid #A0A0A0;
    border-right: 1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;

    background: #F0F0F0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.secondcontainer::-webkit-scrollbar {
    width: 4px;
}

.secondcontainer::-webkit-scrollbar-track {
    opacity: 1;
}

.secondcontainer::-webkit-scrollbar-thumb {
    background: rgba(191, 187, 187, 0.7);
    border-radius: 40px;
}

.secondcontainer::-webkit-scrollbar-thumb:hover {
    background: rgba(138, 138, 138, 0.7);
}

#requests li a{
    text-decoration: none;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;

    color: #5A5A5A;
}

#requests li{
    padding-left: 0;
    list-style-type: none;
    margin-top: 19px;
}

#requests {
    padding-left: 20px;
}

.requestlisttitle{
    padding-top: 15px;
    padding-left: 20px;
    position: absolute;
    width: 321px;
    height: 72px;
    margin-left: 1062px;
    top: 696px;
    border-left: 1px solid #A0A0A0;
    border-right: 1px solid #A0A0A0;
    border-top: 1px solid #A0A0A0;
    border-radius: 15px;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    align-items: center;

    color: #5A5A5A;
}

.acceptbutton{
    /*padding: 2px;*/
    margin-left: 18px;
    background: #6BB065;
    border-radius: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: none;

    font-size: 18px;
    align-items: center;
    text-align: center;

    color: #F0F0F0;
}

.rejectbutton{
    padding-bottom: 3px;
    margin-left: 12px;
    background: #B06565;
    border-radius: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: none;

    font-size: 14px;
    align-items: center;
    text-align: center;

    color: #F0F0F0;
}

.editButton{
    position: absolute;
    margin-left: 93%;
    top: 88px;
    /*width: 79px;*/
    height: 34px;

    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #0657A8;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #0657A8;
}

Body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: white;
    color: #8C8C8C;
    margin: auto;
}
.coverphoto {

    width:1519px;
    height: 210px;
    margin-left: 0px;
    margin-top: 70px;
    background: linear-gradient(270deg, #BA7777 0%, #DEAA76 102.33%);
}
.profilephoto {

    width: 135px;
    height: 135px;
    margin-left: 34px;
    margin-top: 251px;
    background: linear-gradient(224.89deg, #986581 3.15%, #5C729D 100%);
}