/* buttons -------------------------------------------------------*/
.savebutton{
    position: absolute;
    margin-left: 95%;
    top: 88px;
    /*width: 79px;*/
    height: 34px;

    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #0657A8;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #0657A8;
}

.changeprofile{
    position: absolute;
    /*width: 119px;*/
    height: 36px;
    margin-left: 39px;
    top: 301px;
    border: none;

    background: rgba(240, 240, 240, 0.25);
    border-radius: 10px;
    cursor: pointer;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12.5px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #5A5A5A;
}

.changecover{
    position: absolute;
    /*width: 215px;*/
    height: 44px;
    margin-left: 44%;
    top: 150px;
    border: none;

    background: rgba(240, 240, 240, 0.25);
    border-radius: 10px;
    cursor: pointer;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #5A5A5A;
}

button {
    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;

    color: #FFFFFF;
}

button:hover {
    opacity: 0.7;
}

/* -------------------------------------------------------*/
.coverphoto{
    position: absolute;
    width: 100%;
    height: 199px;
    margin-left: 0;
}

#coverid{
    width: 1519px;
    height: 210px;
    object-fit: cover;
}

.covergrey{
    position: absolute;
    width: 1519px;
    height: 210px;
    margin-left: 0;
    top: 70px;
    background: rgba(94, 94, 94, 0.33);
}

.profilephoto{
    position: absolute;
    width: 135px;
    height: 135px;
    object-fit: cover;
    margin-left: 24px;
}

#profileid{
    width: 135px;
    height: 135px;
    object-fit: cover;
}

.profilegrey{
    margin: 0;
    position: absolute;
    width: 135px;
    height: 135px;
    margin-left: 34px;
    top: 251px;
    background: rgba(94, 94, 94, 0.33);
}

.clubname{
    position: absolute;
    width: 270px;
    height: 72px;
    margin-left: 710px;
    top: 289px;

    font-family: Noto Serif Kannada, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #5A5A5A;
}

.activemembernum{
    position: absolute;
    width: 199px;
    height: 72px;
    margin-left: 1129px;
    top: 270px;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #5A5A5A;
}

textarea {
    resize: none;
    padding: 0 0;
    margin: 8px 8px;
    border: none;
    outline: none;
    background: none;
    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;

    color: #898989;
}

.descriptionbox{
    position: absolute;
    width: 734px;
    height: 92px;
    margin-left: 181px;
    margin-top: 353px;

    background: #F0F0F0;
}

.clubnamebox{
    position: absolute;
    width: 300px;
    height: 44px;
    margin-left: 615px;
    margin-top: 297px;

    background: #F0F0F0;
}

/* NAVBAR -------------------------------------------------------*/
.navigation {
    width: 1519px;
    height: 70px;
    background: #45818F;
}
.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}
.brand a, .brand a:visited {
    color: #fff;
    text-decoration: none;
}
.nav-container {
    width: 100%;
    margin: 0 auto;
}
nav {
    float: right;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    position: relative;
}
nav ul li a, nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #45818F;
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover, nav ul li a:visited:hover {
    background: #3C6D79;
    color: #fff;
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: " ▾";
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}
.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #2A4E56;
    height: 70px;
    width: 70px;
}
@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }
    nav {
        width: 100%;
        padding: 70px 0 15px;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
    .nav-dropdown {
        position: static;
    }
}
@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}
#nav-toggle {
    position: absolute;
    margin-left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}
#signout {
    background: #8F4545;
}
#signout:hover{
    background: #833E3E;
}
/* Events -------------------------------------------------------*/
.eventslist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#upcomingevents {
    position: absolute;
    width:800px;
    height: 470px;
    margin-left: 122px;
    top: 410px;
}
#pastevents {
    position: absolute;
    width:800px;
    height: 470px;
    margin-left: 122px;
    top: 734px;
}
.eventstitle{
    position: relative;
    width: 199px;
    height: 72px;
    margin-left: 0;
    top: 0;

    font-family: Rowdies, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #5A5A5A;
}
.event1{
    position: absolute;
    width:234px;
    height: 156px;
    margin-left: 0;
    top: 90px;
}

.event2{
    position: absolute;
    width:234px;
    height: 156px;
    margin-left: 280px;
    top: 90px;
}

.event3{
    position: absolute;
    width:234px;
    height: 156px;
    margin-left: 560px;
    top: 90px;
}

.eventname {
    position: absolute;
    width: 182px;
    height: 14px;
    margin-left: 0;
    top: 179px;

    cursor: pointer;
    text-decoration: none;
    font-family: PoetsenOne, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3C6D79;
}

.eventname:hover{
    color: #80959A;
}

.eventdate{
    position: absolute;
    width: 112px;
    height: 40px;
    margin-left: 0;
    top: 176px;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3C6D79;
}

.more{
    position: absolute;
    width: 127px;
    height: 51px;
    margin-left: 188px;
    top: 184px;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    /*text-decoration-line: underline;*/

    color: #0563C1;
}
/* active member & request boxes ----------------------- */
.maincontainer{
    position: absolute;
    width: 341px;
    height: 235px;
    margin-left: 1062px;
    top: 434px;
    border-left: 1px solid #A0A0A0;
    border-right: 1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;

    background: #F0F0F0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.maincontainer::-webkit-scrollbar {
    width: 4px;
}

.maincontainer::-webkit-scrollbar-track {
    opacity: 1;
}

.maincontainer::-webkit-scrollbar-thumb {
    background: rgba(191, 187, 187, 0.7);
    border-radius: 40px;
}

.maincontainer::-webkit-scrollbar-thumb:hover {
    background: rgba(138, 138, 138, 0.7);
}

textarea::-webkit-scrollbar {
    width: 3px;
}

textarea::-webkit-scrollbar-track {
    opacity: 1;
}

textarea::-webkit-scrollbar-thumb {
    background: rgba(191, 187, 187, 0.7);
    border-radius: 40px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: rgba(138, 138, 138, 0.7);
}

#activemembers li a{
    text-decoration: none;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;

    color: #5A5A5A;
}

#activemembers li{
    padding-left: 0;
    list-style-type: none;
    margin-top: 19px;
}

#activemembers {
    padding-left: 20px;
}

.activememberlisttitle{
    padding-top: 15px;
    padding-left: 20px;
    position: absolute;
    width: 321px;
    height: 72px;
    margin-left: 1062px;
    top: 358px;
    border-left: 1px solid #A0A0A0;
    border-right: 1px solid #A0A0A0;
    border-top: 1px solid #A0A0A0;
    border-radius: 15px;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    background: white;

    color: #5A5A5A;
}

.secondcontainer{
    position: absolute;
    width: 341px;
    height: 235px;
    margin-left: 1062px;
    top: 772px;
    border-left: 1px solid #A0A0A0;
    border-right: 1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;

    background: #F0F0F0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.secondcontainer::-webkit-scrollbar {
    width: 4px;
}

.secondcontainer::-webkit-scrollbar-track {
    opacity: 1;
}

.secondcontainer::-webkit-scrollbar-thumb {
    background: rgba(191, 187, 187, 0.7);
    border-radius: 40px;
}

.secondcontainer::-webkit-scrollbar-thumb:hover {
    background: rgba(138, 138, 138, 0.7);
}

#requests li a{
    text-decoration: none;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;

    color: #5A5A5A;
}

#requests li{
    padding-left: 0;
    list-style-type: none;
    margin-top: 19px;
}

#requests {
    padding-left: 20px;
}

.requestlisttitle{
    padding-top: 15px;
    padding-left: 20px;
    position: absolute;
    width: 321px;
    height: 72px;
    margin-left: 1062px;
    top: 696px;
    border-left: 1px solid #A0A0A0;
    border-right: 1px solid #A0A0A0;
    border-top: 1px solid #A0A0A0;
    border-radius: 15px;

    font-family: Poly, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    align-items: center;

    color: #5A5A5A;
}

.acceptbutton{
    /*padding: 2px;*/
    margin-left: 18px;
    background: #6BB065;
    border-radius: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: none;

    font-size: 18px;
    align-items: center;
    text-align: center;

    color: #F0F0F0;
}

.rejectbutton{
    padding-bottom: 3px;
    margin-left: 12px;
    background: #B06565;
    border-radius: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: none;

    font-size: 14px;
    align-items: center;
    text-align: center;

    color: #F0F0F0;
}