/* NAVBAR -------------------------------------------------------*/
.navigation {
    width: 1519px;
    height: 70px;
    background: #45818F;
}
.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}
.brand a, .brand a:visited {
    color: #fff;
    text-decoration: none;
}
.nav-container {
    width: 100%;
    margin: 0 auto;
}
nav {
    float: right;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    position: relative;
}
nav ul li a, nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #45818F;
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover, nav ul li a:visited:hover {
    background: #3C6D79;
    color: #fff;
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: " ▾";
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}
.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #2A4E56;
    height: 70px;
    width: 70px;
}
@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }
    nav {
        width: 100%;
        padding: 70px 0 15px;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
    .nav-dropdown {
        position: static;
    }
}
@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}
#nav-toggle {
    position: absolute;
    margin-left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}
#signout {
    background: #8F4545;
}
#signout:hover{
    background: #833E3E;
}
/* user profile page -----------------------------------------------*/
#gradient{
    position: absolute;
    width: 100%;
    height: 148px;
    left: 0;
    top: 70px;
    z-index: -1;

    background: linear-gradient(180deg, #45818F 0%, rgba(69, 129, 143, 0) 100%);
}
.top img{
	width: 170px;
	height: 170px;
	margin: 40px auto;
	display: block;
}
#profilephoto {
    width: 170px;
    height: 170px;
    margin: 40px auto;
    display: block;
    background: linear-gradient(224.89deg, #986581 3.15%, #5C729D 100%);
}

#userName{
    position: relative;
    margin: auto;
    top: -15px;
    font-family: Noto Serif Kannada, sans-serif;
    font-size: 26px;
    color: #5A5A5A;
}

.top p{
	display: block;
	text-align: center;
}

.middle {
	overflow: hidden;
	margin: 0 auto;
    z-index: -1;
}

.info {
	float: left;
	list-style: none;
    position: relative;
    top: -10px;
    left: 40px;
}
.social {
	float: right;
	list-style: none;
	position: relative;
	top: -10px;
	right: 70px;
    font-weight: bold;
}

.bottom {
	overflow: hidden;
    padding-top: 28px;
}

#events{
	width: 90%;
	margin: 20px auto 0;
}
#events table{
	width: 100%;
}
#events img{
	width: 200px;
	height: 150px;
    object-fit: cover;
}
#events p{
	margin-top: 0;
	margin-left: 10px;
}

#memberships {
	display: none;
	width: 90%;
	margin: 20px auto 0;
}
#memberships table{
	width: 100%;
}
#memberships img{
	width: 150px;
	height: 150px;
    object-fit: cover;
}
#memberships p{
	margin-top: 0;
	margin-left: 10px;
}

#lineWhite {
    position: relative;
	width: 100%;
	height: 15px;
	margin: 17px auto 0;

	background: #FFFFFF;
    z-index: 1;
}

#lineGray {
    position: relative;
    width: 92%;
    height: 2px;
    margin: -11px auto 0;

    background: #C4C4C4;
    z-index: 2;
}


/* buttons customize --------------------*/
button {
    font-family: Poly, sans-serif;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

#eventsButton{
    width: 100px;
    height: 48px;

    background: #C8B39E;
    border: none;
    border-radius: 15px;

    font-family: Poly, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

#membershipsButton{
    width: 200px;
    height: 48px;

    background: #D69E65;
    border: none;
    border-radius: 15px;

    font-family: Poly, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.eventName{
    position: relative;
    font-family: PoetsenOne, sans-serif;
    font-size: 15px;
    font-weight: bold;
    top: 4px;
    color: #3C6D79;
}

.clubName{
    position: relative;
    font-family: PoetsenOne, sans-serif;
    font-size: 15px;
    font-weight: bold;
    top: 4px;
    color: #3C6D79;
}

#buttons{
    position: relative;
    float: right;
    margin-right: 10%;
    margin-top: -20px;
}

.pencil{
    position: absolute;
    margin-left: 94%;
    top: 90px;
    opacity: 0.8;
}

.triangle{
    position: absolute;
    margin-left: 12px;
    top: 31px;

    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 0;
    border-bottom: 8px solid #3C3C3C;
    transform: rotate(-132deg);
}

.rec1{
    position: absolute;
    margin-left: 30px;
    top: 1px;

    height: 35.8px;
    width: 15px;
    background-color: #3C3C3C;
    transform: rotate(48deg);
}

.rec2{
    position: absolute;
    margin-left: 46px;
    top: 2px;

    height: 5px;
    width: 15px;
    background-color: #3C3C3C;
    transform: rotate(48deg);
}

.rec3{
    position: absolute;
    margin-left: 48px;
    top: 0;

    height: 5px;
    width: 15px;
    background-color: #3C3C3C;
    transform: rotate(48deg);
    border-radius: 10px;
}